<app-menu></app-menu>
    <mat-card>
        <mat-card-content >
            <form [formGroup]="event" class="example-form" (submit)="onSubmit()">
                <mat-form-field class="width-with-full" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="enter name" id="event.name" formControlName="name">
                  </mat-form-field>
                  <mat-form-field class="width-with-fifty" appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker1" id="startDate" formControlName="startDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                  <mat-form-field class="width-with-fifty" appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="picker2" id="endDate" formControlName="endDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="width-with-full" appearance="outline">
                    <mat-label>Event Type</mat-label>
                    <select matNativeControl [(ngModel)]="selectedEventType" name="car" id="type" formControlName="type">
                        <option value="" selected></option>
                        @for (car of eventsType; track car) {
                        <option [value]="car.value">{{car.viewValue}}</option>
                        }
                    </select>
                </mat-form-field>
                <mat-form-field class="width-with-full" appearance="outline">
                    <mat-label>Phone number</mat-label>
                    <input matInput placeholder="enter phone number" value="event.phone" id="phone" formControlName="phone">
                </mat-form-field>
                <mat-form-field class="width-with-full" appearance="outline">
                    <mat-label>Postal Code</mat-label>
                    <input matInput placeholder="enter postal code" value="event.postalCode" id="postalCode" formControlName="postalCode">
                </mat-form-field>
                <mat-form-field class="width-with-full" appearance="outline">
                    <mat-label>Postal Code</mat-label>
                    <input matInput placeholder="enter city" value="event.city" id="city" formControlName="city">
                </mat-form-field>
                <mat-form-field class="width-with-full" appearance="outline">
                    <mat-label>Region</mat-label>
                    <input matInput placeholder="enter region" value="event.region" id="region" formControlName="region">
                </mat-form-field>
                <mat-form-field class="width-with-full" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput placeholder="enter country" value="event.country" id="country" formControlName="country">
                </mat-form-field>
                <mat-form-field class="width-with-full" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="enter address" value="event.address" id="address" formControlName="address">
                </mat-form-field>
                <div class="example-button-row">
                    <button type="submit" mat-stroked-button color="primary">Submit</button>
                </div>
                <!-- <mat-form-field class="example-full-width">
                    <mat-label>Event name</mat-label>
                    <input matInput placeholder="enter evetn name" id="name" formControlName="name" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker1" id="startDate" formControlName="startDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="picker2" id="endDate" formControlName="endDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Event Type</mat-label>
                    <select matNativeControl [(ngModel)]="selectedEventType" name="car" id="type" formControlName="type">
                        <option value="" selected></option>
                        @for (car of eventsType; track car) {
                        <option [value]="car.value">{{car.viewValue}}</option>
                        }
                    </select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Phone number</mat-label>
                    <input matInput placeholder="enter phone number" value="event.phone" id="phone" formControlName="phone">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="enter address" value="event.address" id="address" formControlName="address">
                </mat-form-field>
                <div class="example-button-row">
                    <button mat-button type="submit">Submit</button>
                </div> -->

            </form>
        </mat-card-content>
    </mat-card>