.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  
  }
  
  mat-card {
    width: 600px; /* Adjust width as needed */
    height: 500px;
  }
  
  mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the header content */
    margin-bottom: 10%;
    background-color: darkolivegreen;
  }
  
  mat-card-content{
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
  }
  
  mat-card-actions{
    display: flex;
    justify-content: center
  }