mat-card {
  width: 700px; /* Adjust width as needed */
  height: 800px;
  margin-top: 1%;
  margin-right: 35%;
  margin-left: 30%;
}
mat-card-content{
  width: 95%;
}

.example-form{
  max-width: 100%;
  max-height: 100%;
}
.width-with-full{
  width: 100%;
}
.width-with-fifty{
  width: 50%;
}

.example-button-row{
  margin-top: 5%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}