<app-menu></app-menu>
<div class="container">
    <mat-card class="key-activities">
        <mat-card-content>
            <strong>45</strong><br>
            <span>KEY ACTIVITIES</span> 
        </mat-card-content>
    </mat-card>
    <mat-card class="total-overdue">
        <mat-card-content>TOTAL OVERDUE</mat-card-content>
    </mat-card>
    <mat-card class="total-waiting">
        <mat-card-content>TOTAL WAITING</mat-card-content>
    </mat-card>
    <mat-card class="total-upcomming">
        <mat-card-content>TOTAL UPCOMMING</mat-card-content>
    </mat-card>
</div>
